@font-face {
    font-family: 'economicaregular';
    src: url('../fonts/economica-regular-webfont.woff2') format('woff2'),
         url('../fonts/economica-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'oswald';
    src: url('../fonts/Oswald-ExtraLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'opensans';
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: opensans;
}
.bootstrap-table .fixed-table-container .fixed-table-body, .bootstrap-table .fixed-table-container {
    border: none;
    overflow-y: hidden;
	height: auto !important;
}
.iconlabel {
    font-family: oswald;
}
.verticaltext {
    writing-mode: vertical-rl;
    text-orientation: sideways;
}