@font-face {
    font-family: 'economicaregular';
    src: url('../fonts/economica-regular-webfont.woff2') format('woff2'),
         url('../fonts/economica-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.bootstrap-table .fixed-table-container .fixed-table-body, .bootstrap-table .fixed-table-container {
    border: none;
    overflow-y: hidden;
	height: auto !important;
}
.iconlabel {
    font-family: economicaregular;
}
.verticaltext {
    writing-mode: vertical-rl;
    text-orientation: sideways;
}