//- extends ../base.jade
include ../mixins
block CONTENT
    :go:func
        Storagecreate(c ViewContainer)

    +titleicon("forklift", "storage_create_title")

    .btn-group
        button#save.btn.btn-link(type='button', onclick='Storage_saveStorage()')
            span.mdi.mdi-content-save.mdi-24px.iconlabel
                = T("save", 1)
        button.btn.btn-link(type='button', onclick="Menu_loadContent('product', 'v/products', 'Product_list')")
            span.mdi.mdi-close-box.mdi-24px.iconlabel
                = T("close", 1)

    .row
        .d-flex.justify-content-center
            #filter-product

    form#storage

        input#index(type='hidden', name='index', value='')
        input#product_id(type='hidden', name='product_id', value='')
        input#storage_id(type='hidden', name='storage_id', value='')

        input#exactMatchSupplier(type="hidden")

        .form-group.row
            .col-sm-4
                +inputnumber("nb_duplicate", "storage_nbitem", "1", "1", "50", "")
                +inputcomment("nb_duplicate_comment")
            .col-sm-4
                +checkbox("identical_barecode", "storage_identicalbarecode")
                +inputcomment("identical_barecode_comment")
        hr
        .form-group.row
            .form-group.col-sm-12
                +selectrequired("storage_storelocation_title", "storelocation")
        .form-group.row
            .col-sm-6
                +inputnumber("storage_quantity_title", "storage_quantity", "any", "1", "10000000", "")
            .col-sm-6
                +select("unit_label_title", "unit_quantity") 

        // bio
        .form-group.row
            .col-sm-6
                +inputnumber("storage_concentration_title", "storage_concentration", "any", "1", "10000000", "")
            .col-sm-6
                +select("unit_label_title", "unit_concentration")

        .form-group.row
            .col-sm-12
                +select("supplier_label_title", "supplier")
        .form-group.row
            .col-sm-3
                +inputdate("storage_entrydate_title", "storage_entrydate")
            .col-sm-3
                +inputdate("storage_exitdate_title", "storage_exitdate")
            .col-sm-3
                +inputdate("storage_openingdate_title", "storage_openingdate")
            .col-sm-3
                +inputdate("storage_expirationdate_title", "storage_expirationdate")
        .form-group.row
            .col-sm-6
                +inputtext("storage_reference_title", "storage_reference")
            .col-sm-6
                +inputtext("storage_batchnumber_title", "storage_batchnumber")
        .form-group.row
            .col-sm-12
                +inputtext("storage_barecode_title", "storage_barecode")
                +inputcomment("storage_create_barecode_comment")
        .form-group.row
            .col-sm-12
                +inputtext("storage_comment_title", "storage_comment")  
        .form-group.row
            .col-sm-12
                +checkbox("storage_todestroy_title", "storage_todestroy")

    .btn-group
        button#save.btn.btn-link(type='button', onclick='Storage_saveStorage()')
            span.mdi.mdi-content-save.mdi-24px.iconlabel
                = T("save", 1)
        button.btn.btn-link(type='button', onclick='Utils_closeEdit();')
            span.mdi.mdi-close-box.mdi-24px.iconlabel
                = T("close", 1)

block CONTENTJS